@charset "UTF-8";

p {
    font-size: 30px;
    color: red;
    text-align: justify;
    text-transform: capitalize;
    text-indent: 35px;
    text-decoration: underline;
    letter-spacing: 5px;
    line-height: 30px;
    word-spacing: 15px;
    text-shadow: 2px 2px 2px black;
}

a {
    text-decoration: none;
}